*{
    margin: 0;
    padding: 0
    box-sizing: boader-box;
}

.html, body {
height: 100%;
}

body {
    background: papayawhip;
    min-height: 100vh;
}

main, body, footer {
padding: 20px;
color: blue;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

header, footer {
    line-height: 60px;
}

main {
    flex: 1;
}

.smallimage {
    width: 300px
}

.mediumimage{
    width: 600px;
}

.largeimage{
    width: 900px;
}

