*{
    margin: 0;
    padding: 0
    box-sizing: boader-box;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.smallimage {
    width: 300px
}

.mediumimage{
    width: 600px;
}

.largeimage{
    width: 900px;
}

