*{
    margin: 0;
    padding: 0
    box-sizing: boader-box;
}

html, body {
height: 100%;
}

body {
    background: papayawhip;
    min-height: 100vh;
}

main, body, footer {
padding: 20px;
color: blue;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header, footer {
    line-height: 60px;
}

main {
    flex: 1;
    overflow: auto;
    display: flex;
}

.column {
    padding: 20px;
    height: 100%;
    width: 50%;
}

@media (max-width: 450px) {
    .flex-container {
        background: orange;
    }

    main{
        flex-direction: column;
    }
}

.smallimage {
    width: 200px
}

.mediumimage{
    width: 600px;
}

.largeimage{
    width: 900px;
}

