html,

nav {
    background: #ffd6ff;
    font-family: 'Anton', sans-serif;
    font-size:medium;
}

body {
  font-family: 'Figtree', sans-serif;
  background: #e4f0d0;
  height: 100%;
}

.tab01 {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}

.tab {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}
.item01 {
  width: 300px;
  height: 900px;
  background: #d3e8e1;
  text-align: center;
  color: #e44a66;
}
.item02 {
  width: 400px;
  height: 900px;
  background: #c7c6c4;
  text-align: center;
  color: #0c3934;
}
.item03 {
  width: 400px;
  height: 1500px;
  background: #005397;
  text-align: center;
  color: #f4c7ee;
}
.item04 {
  width: 600px;
  height: 1500px;
  background: #3b755f;
  text-align: center;
  color: #f2cb6c;
}
.item{
    width: 400px;
    height: 1200px;
    background: #cfdbd5;
    border: 4px solid #fbd1a2;
    text-align: center;
    list-style: none;
    color: #5e5537;
  }


.Paragraph01 {
  text-align:left;
  color: #e44a66;
  margin: 10px;
}
.Paragraph02 {
  text-align:left;
  color: #0c3934;
  margin: 10px;
}
.Paragraph03 {
  text-align:left;
  color: #f4c7ee;
  margin: 10px;
}
.Paragraph04 {
  text-align:left;
  color: #f2cb6c;
  margin: 10px;
}
.container {
  padding: 20px 40px;
  line-height: 28px;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  text-transform: capitalize;
  font-size: 50px;
}

.pullquote01 {
  font-family: 'Libre Baskerville', serif;
  color: #112378;
  font-size: 28px;
  font-style: italic;
  line-height: 35px;
  width: 100%;
  margin: 10px;
}
.pullquote02 {
  font-family: 'Libre Baskerville', serif;
  color: #cb323e;
  font-size: 28px;
  font-style: italic;
  line-height: 35px;
  width: 100%;
  margin: 10px;
}
.pullquote03 {
  font-family: 'Libre Baskerville', serif;
  color: #efe8d8;
  font-size: 28px;
  font-style: italic;
  line-height: 35px;
  width: 100%;
  margin: 5px;
}
.pullquote04 {
  font-family: 'Libre Baskerville', serif;
  color: #fedccc;
  font-size: 28px;
  font-style: italic;
  line-height: 35px;
  width: 100%;
  margin: 5px;
}
.pullquote {
  font-family: 'Libre Baskerville', serif;
  color: #714a4a;
  font-size: 32px;
  font-style: italic;
  line-height: 48px;
  width: 100%;
}
