* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    height: 60px;
}

.container {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background: magenta;
    line-height: 60px;
}

a {
    text-decoration: none;
    color: white;
}

li {padding: 0 40px;}
li:hover{ animation: colors 5s ease 0.5s;

}

.column-wrapper {
  width: 100%;
  flex-direction: column;
  display:flex;
  align-self:flex-start;
}

.column {
  padding: 25px;
  flex-direction: row;
  display:flex;
}

.smallimage {
  width: 300px;
}

@keyframes colors {
    0% {
        background-color: magenta;
      }
      40% {
        background-color: rgb(162, 0, 162);
      }
      60% {
        background-color: rgb(101, 0, 101);
      }
      100% {
        background-color: magenta;
      }
    }