h1 {color: rgb(155, 191, 166);}

.title {
    color: rgb(209, 0, 122);
    font-family: 'Urbanist', sans-serif;
    text-align: center;
    }

.bio {
    margin: 40px;
    border: 3px solid rgb(17, 20, 200);
    padding: 60px;
    text-align: center;
}

#violet {
    color: blueviolet
  }