body {font-family: 'Hind', sans-serif;
    font-family: 'Lexend', sans-serif;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}



.container {
    background: yellow;
    padding: 20px 40px;
    line-height: 28px;
}

nav {
    background: tomato;
    font-family: 'Anton', sans-serif;
    font-size: medium;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-family: 'Hind', sans-serif;
    font-family: 'Lexend', sans-serif;
    font-family: 'Roboto Mono', monospace;

}



.pullquote {
    font-family: 'Anton', sans-serif;
color: blueviolet;
font-size: 32px;
font-style: italic;
line-height: 48px;

}

p {
width: 50%;

}