* {
  box-sizing: border-box;
  margin: 0;
  /*   padding: 0; */
}

html,
body {
  height: 100vh;
  width: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}


.column-wrapper {
  display:flex;
}

.left-column {
  display:flex;
  width: 60%;
  /*height: 100vh;*/
  flex-direction: column;
}

.right-column {
  width: 40%;
  height: 117vh;
  /*background: #ff8fa3;*/
  background: #feeafa;
  object-fit: cover;
  /*overflow: hidden;*/
}

img.girlimage {
  width: 100%;
}

.filters {
  /*background-color: #fefedf;*/
  background-color: #cce3de;
  padding: 20px;
  display: flex;
  height: 10vh;
  line-height: 60px;
  flex-direction: row;
  justify-content:space-evenly;
  border: 2px solid #52b788; 
  width: 100%;
}

.list {
  background-color: #fffcf2;
  padding: 30px;
  display: flex; 
  border: 2px solid #52b788;
  width: 100%;
  flex-direction: column;
  align-self:flex-start;
  overflow: scroll;
  flex: 1;
  height: 107vh;
}

.filter-btn {
  color: #ffff00;
  /*background-color: #b3dee2;*/
  background-color: #ffb3c6;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  text-align: center;
  /*border: 2px solid #52b788;*/
  border: 2px solid #ffb3c6;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  /*border: none;*/
}

.filter-btn.active {
  /*border-color: #16b5ef;
  background: #16b5ef;*/
  color:white;
  border-color: #52b788;
  background: #52b788;
  /*background: rgb(26, 111, 206);*/
}

ul {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
}

li {
  list-style-type: none;
  /*border: 2px solid #141414;*/
  color:rgb(69, 161, 92);
  padding: 30px;
  margin: 10px;
  width: 30vh;
  height: 25vh;
}

.list img{
  width: 80%;
}

li:hover {
  /*background: #dbe7e4;*/
  background: #b7e4c7;
}

ul .card.hide {
  display: none;
}

ul .card.show {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

li {padding: 0 40px;}
li:hover{ animation: colors 2s ease 0.5s;
}

@keyframes colors {
    0% {
        background-color: #b7e4c7;
      }
      40% {
        background-color: #74c69d;
      }
      60% {
        background-color: #52b788;
      }
      100% {
        background-color: #b7e4c7;
      }
    }

img {
  width: 100%;
  /*height: 150px;*/
}

.container{
  height: 100vh;
  display: flex;
  align-items: center;
  
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.container .box {
  position: relative;
  height: 200px;
  width: 200px;
  border: 2px solid #52b788;
}
