* {
  box-sizing: border-box;
  margin: 0;
  /*   padding: 0; */
}

html,
body {
  height: 100vh;
  width: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

.column-wrapper {
  display:flex;
}

.left-column {
  display:flex;
  width: 60%;
  /*height: 100vh;*/
  flex-direction: column;
}

.right-column {
  width: 40%;
  height: 117vh;
  background: #ff8fa3;
  object-fit: cover;
  /*overflow: hidden;*/
}

img.girlimage {
  width: 100%;
}

.filters {
  background-color: #fefee3; 
  padding: 20px;
  display: flex;
  height: 10vh;
  line-height: 60px;
  flex-direction: row;
  justify-content:space-evenly;
  /*   border: 2px solid #141414; */
  width: 100%;
}

.list {
  background-color: #feeafa; 
  padding: 20px;
  display: flex; 
  border: 2px solid #52b788;
  width: 100%;
  flex-direction: column;
  align-self:flex-start;
  overflow: scroll;
  flex: 1;
  height: 107vh;
}

.filter-btn {
  color: #ffff00;
  background-color: #b3dee2;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  text-align: center;
  border: 2px solid #52b788;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  /*border: none;*/
}

.filter-btn.active {
  /*border-color: #16b5ef;
  background: #16b5ef;*/
  color:white;
  border-color: #ff8fa3;
  background: #ff8fa3;
}

ul {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
}

li {
  list-style-type: none;
  border: 2px solid #141414;
  padding: 10px;
  margin: 10px;
  width: 23vh;
  height: 35vh;
}

li:hover {
  background: #dbe7e4;
}

ul .card.hide {
  display: none;
}

ul .card.show {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

img {
  width: 100%;
  /*height: 150px;*/
}