

.smallimage {
    width: 200px;
  }

  .girlimage {
    width: 500px;
  }

.column-wrapper {
    display:flex;
}

.left-column {
    width: 1200px;
    flex-direction:column;
    justify-content:center;
    align-items: flex-start;
    flex-wrap: nowrap;
    /*display:flexbox;*/
}

.right-column {
    /*width: 40%;*/
    flex-direction:column;
    display:flexbox;
    height: 1000px;
    background: #ff9966;
    text-align: center;
    color: #19227d;
}

  .tab01 {
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .tab02 {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .tab03 {
    flex-direction: row;
    /*display:flex;*/
  }

  .column-bag {
    width: 100%;
    flex-direction: column;
    display:flex;
    align-self:flex-start;
  }

  .bag {
    /*padding: 2px;*/
    flex-direction: row;
    display:flex;
  }

  nav {
    height: 66px;
    /*width: 60%;*/
}

  .item04 {
    padding: 25px;
    flex-direction: row;
    /*display:flex;*/
    /*height: 869px;*/
    background: #3b755f;
    text-align: center;
    color: #f2cb6c;
  }

  .item06 {
    /*width: 40%;*/
    height: 1000px;
    background: #ff9966;
    text-align: center;
    color: #19227d;
  }

.container {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background: #b7e4c7;
    line-height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #ffff3f;
    font-size: 30px;
    font-weight: bold;
}

li {padding: 0 40px;}
li:hover{ animation: colors 5s ease 0.5s;
}

@keyframes colors {
    0% {
        background-color: #b7e4c7;
      }
      40% {
        background-color: #74c69d;
      }
      60% {
        background-color: #52b788;
      }
      100% {
        background-color: #b7e4c7;
      }
    }