* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background-color: #feeafa;
}

.container {
  height: 10vh;
  line-height: 60px;
  background-color: #fefee3;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

.column-wrapper {
  display:flex;
}

.left-column {
  display:flex;
  width: 60%;
  height: 100vh;
  flex-direction: column;
}

.right-column {
  width: 40%;
  height: 117vh;
  background: #ff8fa3;
  object-fit: cover;
  /*overflow: hidden;*/
}

img.girlimage {
  width: 100%;
}

.list {
  flex: 1;
  height: 90vh;
    padding: 20px;
    border: 2px solid #141414;
    /*overflow: scroll;*/
}

ul {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

li {
  list-style-type: none;
  border: 2px solid #141414;
  padding: 10px;
  margin: 10px;
  width: 30%;
  height: 30vh;
}

.smallimage {
    width: 100px;
  }

 /* .tab01 {
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .tab02 {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
  }*/

  .column-bag {
    width: 100%;
    flex-direction: column;
    display:flex;
    align-self:flex-start;
    overflow: scroll;
  }

  /*.bag {
    /*padding: 2px;
    flex-direction: row;
    display:flex;
  }*/

  nav {
    height: 66px;
    /*width: 60%;*/
}

 /* .item04 {
    padding: 25px;
    flex-direction: row;
    /*display:flex;*/
    /*height: 869px;*
    background: #3b755f;
    text-align: center;
    color: #f2cb6c;
  }

  .item06 {
    /*width: 40%;*
    height: 1000px;
    background: #ff9966;
    text-align: center;
    color: #19227d;
  }

/*.container {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background: #b7e4c7;
    line-height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}*/

li {padding: 0 40px;}
li:hover{ animation: colors 5s ease 0.5s;
}

@keyframes colors {
    0% {
        background-color: #b7e4c7;
      }
      40% {
        background-color: #74c69d;
      }
      60% {
        background-color: #52b788;
      }
      100% {
        background-color: #b7e4c7;
      }
    }

/*.list {
    background-color: #f15b31; 
  padding: 20px;
     display: flex; 
  border: 2px solid #141414;
  width: 100%;
  overflow: scroll;
}*/
.list img{
  width: 100%;
}
.filter-btn {
  color: #ffff00;
  background-color: #b3dee2;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  text-align: center;
  border: 2px solid #52b788;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.filter-btn.active {
  color:white;
  border-color: #ff8fa3;
  background: #ff8fa3;
}

/*ul {
  display: flex;
     flex-wrap: wrap; 
  justify-content: space-between;
}

li {
  list-style-type: none;
  border: 2px solid #141414;
  padding: 10px;
  margin: 10px;
  width: 20%;
}*/

li:hover {
  background: #dbe7e4;
}

ul .card.hide {
  display: none;
}

ul .card.show {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}