body {
    font-family: 'Quicksand', sans-serif;
}

.tab {
    font-family: 'Anton', sans-serif;
    font-size: medium;
    font-style: bold;
    background: #f76c5e;
}

.title {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    font-style: bold;
}

p {
    color: blueviolet;

}