body {
    font-family: 'Quicksand', sans-serif;
}

.tab {
    font-family: 'Anton', sans-serif;
    font-size: medium;
    font-style: bold;
    background: #b5838d;
}

.title {
    color: #ccd5ae;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    font-style: bold;
}

h3 {
    color: #f76c5e;
    font-family: 'Orbitron', sans-serif;
}

h2 {
    color: #f76c5e;
    font-family: 'Orbitron', sans-serif;
}

h4 {
    color: #f76c5e;
    font-family: 'Orbitron', sans-serif;
}

.strong {
    color: #f76c5e;
}