body {
    font-family: 'Quicksand', sans-serif;
}

.tab {
    font-family: 'Anton', sans-serif;
    font-size: large;
    font-style: bold;
    background: #f76c5e;
}

.title {
    font-family: 'Righteous', cursive;
    font-size: large;
    font-style: bold;
}

p {
    color: blueviolet;

}