* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
  background-color: rgba(255, 255, 255, 0);
}
/*.nav ul {
  float: right;
  margin-right: 10px;
}*/

/*.main-navigation:not(.is_stuck) {
  position: fixed;
  left: 0;
  right: 0;
}*/

html, body {
  height: 100%;
  }
  
  body {
      font-family: "Roboto", sans-serif;
      min-height: 100vh;
    }  
  
  main, body, footer {
  color: black;
  }

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.column-wrapper01 {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
}

.left-column01 {
  width: 50%;
  flex-direction: row;
  display:flex;
  font-size: 30px;
  font-family: 'Secular One', sans-serif;
  font-style: bold;
  color: black;
  background-color: rgba(255, 255, 255, 0);
}

.right-column01 {
  width: 50%;
  flex-direction: row;
  display: flex;
  justify-content: right;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0);
  line-height: 100px;
}

.container01 {
  display: flex;
  justify-content: right;
  list-style-type: none;
  background: transparent;
  line-height: 60px;
  font-size: 30px;
  font-family: 'Noticia Text', serif;
  font-style: italic;
  background: transparent;
}

li {padding: 0 5px;}

main {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

  .titleblock01 {
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-style: Light 300;
    font-size: 120px;
}

.column-wrapper {
    display: flex;
}
  
.left-column {
    width: 100%;
    flex-direction: row;
    display:flex;
    background: pink;
}

.right-column {
  width: 100%;
  flex-direction: row;
  display:flex;
}

h1 {
    text-transform: capitalize;
    font-size: 2.68em;
}

p {
    line-height: 1.68em;
    padding-bottom: 1em;
}

.column {
    padding: 20px;
    height: 100%;
    width: 50%;
}

@keyframes colors {
    0% {
        background-color: tomato;
      }
      40% {
        background-color: #CC0000;
      }
      60% {
        background-color: #800000;
      }
      100% {
        background-color: tomato;
      }
    }