* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
  background-color: rgba(0, 0, 0, 0);
}
/*.nav ul {
  float: right;
  margin-right: 10px;
}*/

html, body {
  height: 100%;
  }
  
  body {
      font-family: "Roboto", sans-serif;
      min-height: 100vh;
    }  
  
  main, body, footer {
  padding: 20px;
  color: black;
  }

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.column-wrapper01 {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
}

.left-column01 {
  width: 50%;
  flex-direction: row;
  display:flex;
  background-color: rgba(0, 0, 0, 0);
}

.right-column01 {
  width: 50%;
  flex-direction: row;
  display: flex;
 /* justify-content: right;*/
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0);
  line-height: 100px;
}

.container01 {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  background: transparent;
  line-height: 60px;
}

main {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

.column-wrapper {
    display: flex;
}
  
.left-column, .right-column {
    width: 50%;
    flex-direction: row;
    display:flex;
}

h1 {
    text-transform: capitalize;
    font-size: 2.68em;
}

p {
    line-height: 1.68em;
    padding-bottom: 1em;
}

.column {
    padding: 20px;
    height: 100%;
    width: 50%;
}

@keyframes colors {
    0% {
        background-color: tomato;
      }
      40% {
        background-color: #CC0000;
      }
      60% {
        background-color: #800000;
      }
      100% {
        background-color: tomato;
      }
    }