
/*body {
    font-family: Arial, sans-serif;
    /*background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}*/

/*h1 {
    color: #333;
}*/

.title {
    color: tomato;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.sentence {
    margin-top: 25px;
    margin-left: 500px;
    margin-right: 500px;
    border: 2px solid #f76c5e;
    padding: 50px;
    background: #f9f4e2;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: large;
    font-weight: bold;
    color: #324376;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}

nav {
    height: 60px;
}

.container {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background: #f8ad9d;
    line-height: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-size: 40px;
}

li {padding: 0 40px;}
li:hover{ animation: colors 5s ease 0.5s;
}

@keyframes colors {
    0% {
        background-color: #f8ad9d;
      }
      40% {
        background-color: #f4978e;
      }
      60% {
        background-color: #f08080;
      }
      100% {
        background-color: #f8ad9d;
      }
    }

