
/*body {
    font-family: Arial, sans-serif;
    /*background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}*/


.title {
    color: #ff686b;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.sentence {
    margin-top: 25px;
    margin-left: 500px;
    margin-right: 500px;
    border: 2px solid #b3dee2;
    /*padding: 50px;*/
    background: #e9f5db;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: large;
    font-weight: bold;
    color: #e27396;
}

button {
    background-color: #ffff00;
    color: #40916c;
    /*padding: 10px 20px;*/
    border: none;
    cursor: pointer;
    font-size: 30px;
    margin-top: 20px;
}

button:hover {
    background-color: #40916c;
    color: #ffff00;
}

nav {
    height: 60px;
}

.container {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background: #b7e4c7;
    line-height: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #ffff3f;
    font-size: 40px;
    font-weight: bold;
}

li {padding: 0 40px;}
li:hover{ animation: colors 5s ease 0.5s;
}

@keyframes colors {
    0% {
        background-color: #b7e4c7;
      }
      40% {
        background-color: #74c69d;
      }
      60% {
        background-color: #52b788;
      }
      100% {
        background-color: #b7e4c7;
      }
    }

