

/*h1 {
    color: tomato;
}*/

.title {
display: flex;
justify-content: center;
color: tomato;
font-size: 80px;
}

nav {
    height: 60px;
}

.container {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background: tomato;
    line-height: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

li {padding: 0 40px;}
li:hover{ animation: colors 5s ease 0.5s;
}

@keyframes colors {
    0% {
        background-color: tomato;
      }
      40% {
        background-color: #CC0000;
      }
      60% {
        background-color: #800000;
      }
      100% {
        background-color: tomato;
      }
    }